
/* Overriding default styles */
#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: initial;
}

.active-section {
  animation: fadeIn 0.5s ease-in-out;
}

/* Custom animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
